# Misc
**/*~
.prettierignore
.gitignore
.vscode/
flakeModule.nix

# Source files
**/*.ts
**/*.tsx

# Build setup
node_modules/
esbuild.mjs
**/tsconfig*.json
**/*.tsbuildinfo

# Info view
views/info/media/

# Perf view
views/perf/media/
