/* Debug for coq-layout-printer */
#goal-text {
  display: contents;
}

#goal-text span.box {
  padding: 1px 1px 1px 1px;
  border: 1px solid #f40;
  /* width: 100px; */
  /* height: 100px; */
  display: flex;
  /* flex: auto; */
  flex-wrap: wrap;
  flex-grow: 0;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

#goal-text span.notation {
  padding: 0px;
  border: 0px;
}

/* ids */
#goal-text span.absolute {
  display: none;
}

#goal-text span.raw {
  display: none;
}

#goal-text span.type {
  display: none;
}

#goal-text span.key {
  display: none;
}

#goal-text span.arguments {
  display: none;
}
