/* previously named .coq-env in jsCoq */
.coq-goal-env hr {
  margin: 0.5em 0;
  border: 1px inset;
}

.coq-hypothesis {
  margin-bottom: 2px;
}

.coq-hypothesis > label {
  font-weight: normal; /* override bootstrap */
  margin: 0;
}

.coq-hypothesis > label::after {
  content: ",";
  margin-right: 0.25em;
}

.coq-hypothesis > label:last-of-type::after,
.coq-hypothesis > span.def::after {
  content: ":";
  margin: 0 0.5em;
}

.coq-hypothesis.coq-has-def > label:last-of-type::after {
  content: ":=";
  margin: 0 0.5em;
  color: #777;
}

.coq-hypothesis > label ~ div {
  display: inline-table; /* this is used to indent hypothesis at their labels */
  table-layout: fixed;
}

p.num-goals,
p.no-goals {
  margin-top: 0.2em;
  margin-bottom: 1em;
  white-space: normal;
}

div.aside,
p.aside {
  white-space: normal;
  color: #777;
}

p.num-goals + p.aside {
  margin-top: -1em;
  margin-bottom: 1em;
}

/* XXX: We need to handle the white-space: pre that all Pp stuff needs
   better */
.coq-goal-env {
  padding-top: 1ex;
  padding-bottom: 1ex;
  white-space: pre;
}

.coq-message {
  white-space: pre;
}

.coq-error {
  white-space: pre;
}
