[submodule "coq"]
	path = vendor/coq
	url = https://github.com/ejgallego/coq.git
	branch = proof+no_global_partial
[submodule "coq-serapi"]
	path = vendor/coq-serapi
	url = https://github.com/ejgallego/coq-serapi.git
	branch = v8.17
[submodule "Coq-HoTT"]
	path = Coq-HoTT
	url = https://github.com/HoTT/Coq-HoTT.git
