# TextMate tutorial: http://manual.macromates.com/en/language_grammars
# REGEX Tutorial : https://manual.macromates.com/en/regular_expressions

# Regex to convert keys to unquoted: "(include|match|captures|begin|end|beginCaptures|endCaptures|name|patterns|0|1|2|3|4|5|6|7|8|9|comment|fileTypes|scopeName|repository|contentName|firstLineMatch|foldingStartMarker|foldingStopMarker)":

scopeName: "source.dedukti" # <scope> should be a short, unique indicator for the language ("js", "php", "c", etc.)
name: "Dedukti" # The title that will show up in grammar selection and on your status bar.
fileTypes: [ # An array of file extensions.
  "v"
]
limitLineLength: false
firstLineMatch: "" # A regular expression that is matched against the first line of the document when Atom is trying to decide if the grammar is appropriate. Useful for shell scripts, mostly.
foldingStartMarker: "" # A regular expression that checks for the start of a foldable area (such as `{`).
foldingStopMarker: "" # A regular expression that checks for the end of a foldable area (such as `}`). If both folding markers are matched in the same line, there will be no foldable area.
patterns: [ # An array of individual pattern declarations.
  {
    "match": "(def|thm|Type)"
    "name": "keyword"
  }
  {
    "match": "\\."
    "name": "entity.name.tag"
  }
  {
      "match": "(-->|->|=>)"
      "name": "support.function"
  }
  {
      "match":"#[A-Z]*"
      "name": "entity.name.function"
  }
  {
    "match":"\\b[A-Z]\\w*"
    "name": "entity.name.type"
  }
  {
    "begin": "\\(;"
    "captures":
      "0":
        "name": "punctuation.definition.comment"
    "end": "\\;\\)"
    "name": "comment.line.dedukti"
  }

]
