name: Github CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        ocaml: [ 4.14.x ]
        os: [macOS-latest, ubuntu-latest]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup OCaml
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml }}
          dune-cache: true
      - name: Build coq-lsp
        run: |
          eval $(opam env)
          opam install . --deps-only
          opam exec -- make build
